<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Horario</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="css/fileinput.min.css">
  <script src="js/fileinput.min.js"></script>

  <link rel="shortcut icon" href="img/calendar.png">
  <script>
  $.getJSON("/getHorarioCurso",
        function(data){
          console.log(data);
        });
  </script>
</head>
<body>
  <div id="wrap">
    <header>
	    <div class="container">
		    <h1>Horario <small>Universidad San Pablo CEU</small></h1>
	    </div>
</header>
<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li rolo="presentation" class="active"><a href="#">Horario</a></li>
        <li rolo="presentation"><a href="./manual.html">Manual</a></li>
        <li rolo="presentation"><a href="./restricciones.html">Restricciones</a></li>
        <li rolo="presentation"><a href="./configuracion.html">Configuración</a></li>
      </ul>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <select class="form-control">
        <option>Todas</option>
        <option>Profesores</option>
        <option>Grupos</option>
      </select>
    </div>
    <div class="col-xs-2">
      <fieldset disabled>
        <select id="disabledSelect" class="form-control">
          <option>Cosas</option>
          <option>Mas cosas</option>
          <option>Algo mas</option>
        </select>
      </fieldset>
    </div>
  </div>
</div>

<br>

</div>

<br>

<div class="container"><table class="table table-bordered">
  <thead>
    <tr>
      <th>Horas</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miercoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td >10:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <tr>
      <td>14:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </table></div>
</div>
<div id="footer">
  <div class="container">
      <p class="text-muted credit">
        Jose Cara Moreno <br>
        Clara Clonge Briega <br>
        Adolfo Lopez Rocher <br>
        Angel Nunez Torron Cerdeira <br>
        Rafael Murillo Zarza
    </p>
  </div>
</div>


</body>
</html>